# Summary

1. problem.csv
    - 백준의 각 문제 페이지 크롤링 + api 수집
    - 총 23,090개의 문제 (1000~25150번)  
    
    <br>
    
    [problem_id] - 문제 번호  
    - 23,090개의 문제 존재 (1000~25150번)  

    [level] - 문제의 난이도 (unranked~루비)  
    - 0~30까지 존재 (0 : unranked)  
    - 평균 9(실버 2)  
      
    [average_tries] - 평균 시도 횟수  
    - 0번 ~ 7340번까지 존재, 평균 2.45번 (3사분위 2.65번)  
    - 평균 시도 횟수가 50번인 문제는 10개  
        → unranked 8문제, 24티어(다이아2) 문제, 25티어(다이아1) 1문제  
        → 이 중 clean_problem에 존재하는 문제는 2문제 (다이아 2문제), 시도한 유저는 각각 7명, 12명  
    
    [problem_association] - 해당 문제와 비슷한 문제  
    - 79개 존재 → clean_problem에는 75개 존재 
        - 한국어X : 10444, 15548
        - level높음 : 10724, 10735

    [problem_tags] - 태그 (알고리즘 분류)
    - 태그 존재 여부
    - 태그 존재 : 14,335개 문제 / 태그 미존재 : 8,755개 문제
    - 태그 개수 : 186개
        - 문제 당 최소 1개 ~ 최대 22개의 태그가 존재
            - 22개의 태그가 존재하는 문제 : 17463번 문제 → clean에는 없어서 그냥 패스
            - 태그가 10개 이상 존재하는 문제 : 24개 → clean에는 7개
            - 가장 많이 등장한 태그 및 카운트 :
                [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
            - 가장 적게 등장한 태그 및 카운트 :
                [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

<br>

2. clean_problem
    - 푼 사람이 없는 문제, 한국어가 아닌 문제

    <br>

    [problem_id] - 문제 번호
    - 6,866개의 문제 존재 (1000~25150번)

    [problem_tags] - 태그 (알고리즘 분류)
    - 태그 존재 : 6,722 문제 / 태그 미존재 : 144 문제
    → 제외한 데이터의 경우 태그가 제대로 달려있지 않은 데이터가 많았다는 걸 알 수 있음
    - 태그 개수 : 176개
    - 가장 많이 등장한 태그 및 카운트 :
    [('math', 1832), ('implementation', 1556), ('dp', 1261), ('graphs', 1072), ('data_structures', 997), ('string', 626), ('graph_traversal', 608), ('bruteforcing', 598), ('greedy', 577), ('sorting', 495)]
    - 가장 적게 등장한 태그 및 카운트 :
    [('general_matching', 2), ('bipartite_graph', 2), ('dominator_tree', 1), ('voronoi', 1), ('directed_mst', 1), ('tree_compression', 1), ('discrete_sqrt', 1), ('bayes', 1), ('pick', 1), ('generating_function', 1)]
    - 단일로 1000개 이상 존재하는 태그 :
        math : 1832 / implementation : 1556 / dp : 1261 / graphs : 1072

    [average_tries] - 평균 시도 횟수
    - 1번 ~ 65.8번까지 존재, 평균 2.88번 (3사분위 3.36)
    
    [level] - 난이도
    - problem과 clean_problem 비교  → 21~25(다이아몬드 티어)에서 유독 큰 감소율(60이상)을 보임
    - problem : 레벨별 문제 수 / clean_problem : 레벨별 문제 수 / diff : 레벨별 problem과 clean_problem의 차이 / diff_per : 감소율

<br>

3. score.csv - all problem
    - 총 4,742,223개의 rows

    [user_name] - 19,918명의 유저가 문제를 푼 기록   
        - 한 명당 최소 1번 ~ 최대 106,162번(xiaowuc1 → 2위), 평균 238번의 채점 기록

    [problem_id] - 19,803문제를 풀었음
        - 한 문제당 최소 1명 ~ 최대 10,367명이 풀었음, 평균 239명이 풀었음 (75%도 284명 수준)

<br> 

4. score.csv - clean problem
    - 총 2,249,860개의 rows → problem_id까지 적용하면 1,984,978개의 rows
 
    4-1. target만 clean score

    [user_name] - 16,407명의 유저가 clean target 문제를 풀었음   
        → 제외된 타겟 문제는 16,224개지만, 제외된 타겟 문제만을 푼 유저는 2511뿐임      
  
    [problem_id] - clean problem에 해당하는 target을 풀기전 유저들이 푼 문제는 17,369문제(nunique)        
        - clean target에 해당하는 문제는 모두 problem_id에 속함     
        → 즉, clean target에 해당하는 문제들은 모두 다른 문제를 풀기 위한 단계 문제에 속함     


    4-2. target & problem_id clean score (all_clean_score)
    
    [유저별 탐색(all_clean_score_user)]    
        - 16,405명의 유저가 clean target 문제를 풀었음   
        → clean 문제를 풀기까지 clean문제를 거치지 않은 유저는 2명(16407 → 16405)   
        → 즉, clean 문제를 푸는 대부분의 유저는 경우 clean 문제를 단계 문제로 활용함   

    [언어별 탐색(all_clean_score_langueage)] - 82가지의 언어   
        - 언어당 1번 ~ 861,176번의 제출,  평균 24,207번의 제출
        - 상위 20개의 언어 및 제출 횟수 [TOP5: C++17 - Python3 - PyPy3 - Java 11 - C++14]

    4-3. non_clean_score

    [(all_clean - clean) user 탐색]  
        - all_clean - clean : clean target문제를 위한 단계 문제로 non clean 문제만 푼 유저  
        - 1pennyplz : 2회 제출(1문제) -> 영어 문제   
        - dad0401 : 1회 제출(1문제) -> unranked 문제   

    [티어 비교]    
        - all_clean 과 non_clean의 유저 티어 비교  
            - all_clean : clean target & problem_id인 제출의 유저들의 티어   
            - non_clean : clean 외의 문제들만 푼 유저들의 티어  
            - all_ratio : all_clean_user_tier의 비율  [all / (all+non)]  
                → 비중이 높을 수록 해당 티어의 유저들이 clean 문제들을 풀었다는 것을 의미     
                → 아래 표를 봤을 때 유저들의 티어와 클린 문제간의 큰 상관관계가 있다고 보기는 어려울거 같음  

<br>

5. course.csv
    - 키워드 : '코테', '기업', '코딩 테스트', '기출'   
    - 키워드를 포함한 코스들을 뽑고, 코스들이 클린 문제들로 이루어졌는지 확인함   
        - 키워드가 들어간 코스 개수 :  69   
        - clean 문제들로만 이루어진 코스 :  46   
        - clean 문제들로만 이루어지지 않은 코스 :  23  

        → 많은 경우 clean 문제들로 이루어졌음.    
        → 비율이 낮은 문제집들을 살펴보기 '기출' 키워드에 걸렸고, 알고리즘 대회 기출 문제를 모아둔 문제집임

In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings(action='ignore')

from itertools import chain
from collections import Counter

data_path = "/Users/yj/Dropbox/1. 유정/8. BoostcampAI/Level2-AZDKS/Santa-BOJ/data"

os.chdir(data_path)
os.getcwd()

'/Users/yj/Dropbox/1. 유정/8. BoostcampAI/Level2-AZDKS/Santa-BOJ/data'

In [2]:
file_list = [file for file in os.listdir(data_path) if '.csv' in file]
file_list

['problem.csv',
 'course_data_list.csv',
 'course.csv',
 'score.csv',
 'clean_problem.csv',
 'course_detail.csv',
 'user.csv']

In [3]:
problem = pd.read_csv('problem.csv')
course = pd.read_csv('course.csv')
score = pd.read_csv('score.csv')
clean_problem = pd.read_csv('clean_problem.csv')
user = pd.read_csv('user.csv')

# problem.csv

### problem 기본적인 탐색

In [4]:
problem.head()

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info
0,1000,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",2.3696,177961,True,1,"['1001번. A-B', '1008번. A/B', '2558번. A+B - 2',...",\n,\n여기를 누르면 1000번 예제 소스를 볼 수 있습니다.\n,1000번: A+B,"\n첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)\n",\n첫째 줄에 A+B를 출력한다.\n,"\n두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.\n",False,"['2 초 ', '128 MB', '593356', '247193', '176987..."
1,1001,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",1.3975,149192,True,1,"['1000번. A+B', '1008번. A/B', '2558번. A+B - 2',...",\n,\n,1001번: A-B,"\n첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)\n",\n첫째 줄에 A-B를 출력한다.\n,"\n두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.\n",False,"['2 초 ', '128 MB', '247010', '172725', '148343..."
2,1002,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",4.5895,26224,True,7,[],\n,\n,1002번: 터렛,\n첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 다음과 같이...,\n각 테스트 케이스마다 류재명이 있을 수 있는 위치의 수를 출력한다. 만약 류재명...,\n조규현과 백승환은 터렛에 근무하는 직원이다. 하지만 워낙 존재감이 없어서 인구수...,False,"['2 초 ', '128 MB', '155147', '32698', '26037',..."
3,1003,"[{'key': 'dp', 'isMeta': False, 'bojTagId': 25...",3.1842,35245,True,8,[],\n,\n,1003번: 피보나치 함수,\n첫째 줄에 테스트 케이스의 개수 T가 주어진다.\n각 테스트 케이스는 한 줄로 ...,\n각 테스트 케이스마다 0이 출력되는 횟수와 1이 출력되는 횟수를 공백으로 구분해...,\n다음 소스는 N번째 피보나치 수를 구하는 C++ 함수이다.\nint fibona...,False,"['0.25 초 (추가 시간 없음) ', '128 MB', '157077', '44..."
4,1004,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",2.3461,8570,True,8,[],"\n\n-1000 ≤ x1, y1, x2, y2, cx, cy ≤ 1000\n1 ≤...",\n,1004번: 어린 왕자,\n입력의 첫 줄에는 테스트 케이스의 개수 T가 주어진다. 그 다음 줄부터 각각의 ...,\n각 테스트 케이스에 대해 어린 왕자가 거쳐야 할 최소의 행성계 진입/이탈 횟수를...,\n어린 왕자는 소혹성 B-664에서 자신이 사랑하는 한 송이 장미를 위해 살아간다...,False,"['2 초 ', '128 MB', '25107', '10345', '8522', '..."

In [5]:
problem.columns

Index(['problem_id', 'problem_tags', 'average_tries', 'accepted_user_count',
       'is_solvable', 'level', 'problem_association', 'problem_limit',
       'problem_hint', 'title', 'problem_input', 'problem_output',
       'problem_description', 'is_partial', 'problem_info'],
      dtype='object')

In [6]:
problem['problem_id'].nunique()

23090

In [7]:
problem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23090 entries, 0 to 23089
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   problem_id           23090 non-null  int64
 1   problem_tags         23090 non-null  object
 2   average_tries        23090 non-null  float64
 3   accepted_user_count  23090 non-null  int64
 4   is_solvable          23090 non-null  bool
 5   level                23090 non-null  int64
 6   problem_association  23090 non-null  object
 7   problem_limit        23090 non-null  object
 8   problem_hint         23090 non-null  object
 9   title                23090 non-null  object
 10  problem_input        23090 non-null  object
 11  problem_output       23090 non-null  object
 12  problem_description  23090 non-null  object
 13  is_partial           23090 non-null  bool
 14  problem_info         23090 non-null  object
dtypes: bool(2), float64(1), int64(3), object(9)
memory usage: 2.3+ MB

In [8]:
problem.describe()

         problem_id  average_tries  accepted_user_count         level
count  23090.000000   23090.000000         23090.000000  23090.000000
mean   13223.324816       2.446576           584.329147      9.065743
std     6982.904791      48.409894          4763.431714      8.450138
min     1000.000000       0.000000             0.000000      0.000000
25%     7342.250000       1.000000             2.000000      0.000000
50%    13394.500000       1.707050            11.000000      8.000000
75%    19249.750000       2.656375            59.000000     16.000000
max    25150.000000    7340.140000        200366.000000     30.000000

In [9]:
many_tries = problem[problem['average_tries'] > 50]
many_tries_problem = many_tries['problem_id']
print(len(many_tries))
many_tries

10

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info
249,1250,"[{'key': 'data_structures', 'isMeta': False, '...",52.5714,7,True,24,[],\n,\n\n0 : AABAABBBCD\n1 : AABAACD\n2 : BAACD\n3 ...,1250번: 색칠된 공들,"\n첫째 줄에는 공의 개수인 N과, 자신이 언제 없어지는지 알고 싶은 공의 번호 k...",\n그 k번째 공이 사라지는 시행횟수가 몇 번째인지 출력한다.\n,\n규완이는 N개의 순서대로 색칠된 공을 가지고 있다. (색은 영어 대문자로 이루어...,False,"['2 초 ', '128 MB', '1135', '30', '7', '1.902%']"
4014,5112,[],257.0000,1,True,0,[],\n,\n,5112번: Functional Programming Counts,\nThe input consists of a series of input line...,\nExpression results should be reported on a l...,\nThe formal methods team at your place of wor...,False,"['1 초 ', '128 MB', '281', '1', '1', '0.389%']"
9157,10944,[],7340.1400,44,True,0,[],\n,\n,10944번: 랜덤 게임~~,\n이 문제는 입력이 없다.\n,"\n첫째 줄에 1부터 10,000까지 정수 중에서 하나를 출력한다.\n","\n1부터 10,000까지 정수 중에서 하나를 출력한다. 이 수가 채점 프로그램이 ...",False,"['1 초 ', '256 MB', '501093', '46', '44', '0.01..."
9159,10946,[],248.3040,619,True,0,[],\n,\n,10946번: 랜덤 게임~~~~,\n이 문제는 입력이 없다.\n,"\n첫째 줄에 1부터 2,147,483,647까지 정수 중에서 하나를 출력한다.\n","\n1부터 2,147,483,647까지 정수 중에서 하나를 출력한다. 이 수가 채점...",True,"['1 초 ', '256 MB', '524417', '28302', '619', '..."
9160,10947,[],96.8799,308,True,0,[],\n,\n,10947번: 로또,\n이 문제는 입력이 없다.\n,"\n1보다 크거나 같고, 45보다 작거나 같은 수를 6개 출력한다. 이때, 같은 수...","\n1보다 크거나 같고, 45보다 작거나 같은 수 6개를 출력한다.\n채점 프로그램...",True,"['1 초 ', '256 MB', '105078', '2501', '307', '1..."
15207,17120,"[{'key': 'implementation', 'isMeta': False, 'b...",89.5000,2,True,0,[],\n,\n2019년 3월 31일 슬랙 웹 버전을 기준으로 한다.\n,17120번: 이모지,"\n메시지가 주어진다. 메시지는 최대 30줄로 이루어져 있고, 각 줄의 길이는 최대...","\n각 줄마다 이모지 🐱이 존재하면 YES, 아니면 NO를 출력한다. Custom ...",\n여러 회사의 메신저 소프트웨어로 사용되는 슬랙(Slack)은 아스키 문자만으로 ...,True,"['1 초 ', '512 MB', '2056', '3', '2', '1.117%']"
16860,18789,"[{'key': 'constructive', 'isMeta': False, 'boj...",65.8333,12,True,25,[],\n,\n,18789번: 814 - 2,\n입력은 주어지지 않는다.\n,\n숫자 0 ~ 9 로만 이루어진 8 × 14 크기의 표를 출력하면 된다.\n출력된...,\n숫자 0~9 로만 이루어진 8 × 14 크기의 표를 만들어 출력해보자. 다음과 ...,True,"['0.814 초 ', '814 MB', '4891', '43', '12', '1...."
17222,19152,[],62.0000,1,True,0,[],\n,"\nIn the example above, the first client can b...",19152번: Ito,\nThe first line of the input contains two int...,"\nPrint M$M$ lines, i$i$-th of them containing...",\nMath can be very interesting and fascinating...,False,"['1 초 ', '512 MB', '83', '5', '1', '1.613%']"
18061,19999,[],54.4688,32,True,0,[],\n\n,\n\n\n,19999번: 일하는 구구,\n\n,\n\n,\n\n,False,"['0.25 초 (추가 시간 없음) ', '512 MB', '4329', '96',..."
19351,21299,[],54.9091,22,True,0,[],\n,\n아직 경품을 못 받으신 분들은 이 대회가 끝난 후에 모두 경품을 지급해 드리겠습...,21299번: 진짜 최종 구데기컵 1 경품 당첨자,\n경품 당첨 기준이 주어진다. 이는 다음 중 하나이다.\n\nMarathon Ed...,"\n첫째 줄에 상의 이름, 둘째 줄에 경품의 이름, 셋째 줄에 경품 당첨자의 아이디...",\n구데기컵 주최자 사퇴를 선언한 jh05013은 일처리도 제대로 안 했다! 경품 ...,True,"['1 초 (추가 시간 없음) ', '512 MB', '1686', '24', '2..."

In [10]:
clean_problem[clean_problem['problem_id'].isin(many_tries_problem)]

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info
242,1250,"[{'key': 'data_structures', 'isMeta': False, '...",52.5714,7,True,24,[],\n,\n\n0 : AABAABBBCD\n1 : AABAACD\n2 : BAACD\n3 ...,1250번: 색칠된 공들,"\n첫째 줄에는 공의 개수인 N과, 자신이 언제 없어지는지 알고 싶은 공의 번호 k...",\n그 k번째 공이 사라지는 시행횟수가 몇 번째인지 출력한다.\n,\n규완이는 N개의 순서대로 색칠된 공을 가지고 있다. (색은 영어 대문자로 이루어...,False,"['2 초 ', '128 MB', '1135', '30', '7', '1.902%']"
4755,18789,"[{'key': 'constructive', 'isMeta': False, 'boj...",65.8333,12,True,25,[],\n,\n,18789번: 814 - 2,\n입력은 주어지지 않는다.\n,\n숫자 0 ~ 9 로만 이루어진 8 × 14 크기의 표를 출력하면 된다.\n출력된...,\n숫자 0~9 로만 이루어진 8 × 14 크기의 표를 만들어 출력해보자. 다음과 ...,True,"['0.814 초 ', '814 MB', '4891', '43', '12', '1...."

### 칼럼별 탐색

#### 태그(problem_tags)
- problem 
    - 태그 존재 :  14335 / 태그 미존재 :  8755
    - 태그가 존재하는 경우 최소 1개 ~ 22개의 태그가 있으며, 평균 2.8개의 태그를 가짐(3사분위도 4개)
    - 태그 개수 :  186개
    - 가장 많이 등장한 태그 및 카운트 :    
    [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
    - 가장 적게 등장한 태그 및 카운트 :    
    [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

In [12]:
print("problem - 태그 존재 : ", len(problem[problem['problem_tags'] != '[]']))
print("problem - 태그 미존재 : ", len(problem[problem['problem_tags'] == '[]']))

problem - 태그 존재 :  14335
problem - 태그 미존재 :  8755

In [13]:
### problem.csv
tags_problem = problem[problem['problem_tags'] != '[]']
tags_problem['tags_count'] = tags_problem['problem_tags'].apply(lambda x: len(x.split('}]},')))
tags_problem['tags_count'].describe()

count    14335.000000
mean         2.820160
std          1.566808
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max         22.000000
Name: tags_count, dtype: float64

In [14]:
more10_tags_list = list(tags_problem[tags_problem['tags_count'] > 10]['problem_id'])
# more10_tags_list

In [15]:
tags_problem['problem_tags']

0        [{'key': 'arithmetic', 'isMeta': False, 'bojTa...
1        [{'key': 'arithmetic', 'isMeta': False, 'bojTa...
2        [{'key': 'geometry', 'isMeta': False, 'bojTagI...
3        [{'key': 'dp', 'isMeta': False, 'bojTagId': 25...
4        [{'key': 'geometry', 'isMeta': False, 'bojTagI...
                               ...
23076    [{'key': 'euclidean', 'isMeta': False, 'bojTag...
23078    [{'key': 'combinatorics', 'isMeta': False, 'bo...
23081    [{'key': '0_1_bfs', 'isMeta': False, 'bojTagId...
23083    [{'key': 'constructive', 'isMeta': False, 'boj...
23088    [{'key': 'bruteforcing', 'isMeta': False, 'boj...
Name: problem_tags, Length: 14335, dtype: object

성범님의 태그 preprocessing 코드 참고

In [19]:
tag_list = []
def get_preprocessing_tags(tags):
    global tag_list
    tags = eval(tags)
    if tags:
        tags = [tag['key'] for tag in tags]
        tag_list += tags
    return tags

problem['preprocessing_tags'] = problem['problem_tags'].apply(lambda x : get_preprocessing_tags(x))
clean_problem['preprocessing_tags'] = clean_problem['problem_tags'].apply(lambda x: get_preprocessing_tags(x))
tag_list = list(set(tag_list))

In [20]:
problem['preprocessing_tags'].value_counts()

[]                                                                             8755
[dp]                                                                            661
[implementation]                                                                601
[implementation, string]                                                        417
[math]                                                                          252
                                                                               ...
[bruteforcing, implementation, trees]                                             1
[data_structures, disjoint_set, math, number_theory, primality_test, sieve]       1
[data_structures, dp, implementation, segtree, simulation]                        1
[bruteforcing, greedy, math, sorting]                                             1
[constructive, graphs, sorting, trees]                                            1
Name: preprocessing_tags, Length: 4120, dtype: int64

In [21]:
### problem.csv
tags = list(chain(*problem['preprocessing_tags'].to_list()))
tags_count = Counter(tags).most_common()
print("태그 개수 : ", len(set(tags)))
print("가장 많이 등장한 태그 및 카운트 : \n", tags_count[:10])
print("가장 적게 등장한 태그 및 카운트 : \n", tags_count[-10:])

태그 개수 :  186
가장 많이 등장한 태그 및 카운트 :
 [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
가장 적게 등장한 태그 및 카운트 :
 [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

#### 비슷한 문제(problem_association)
- problem 데이터 - 비슷한 문제가 존재하는 문제 :  79
- clean_problem 데이터 - 비슷한 문제가 존재하는 문제 :  75
- 79개 중 clean_problem에서 사라진 문제 :  {10735, 10444, 15548, 10724}
    - 한국어X : 10444, 15548
    - level높음 : 10724, 10735

In [22]:
print("problem 데이터 - 비슷한 문제가 존재하는 문제 : ", len(problem[problem['problem_association'] != '[]']['problem_id']))
print("clean_problem 데이터 - 비슷한 문제가 존재하는 문제 : ", len(clean_problem[clean_problem['problem_association'] != '[]']['problem_id']))
print("79개 중 clean_problem에서 사라진 문제 : ", set(problem[problem['problem_association'] != '[]']['problem_id']) - set(clean_problem[clean_problem['problem_association'] != '[]']['problem_id']))

problem 데이터 - 비슷한 문제가 존재하는 문제 :  79
clean_problem 데이터 - 비슷한 문제가 존재하는 문제 :  75
79개 중 clean_problem에서 사라진 문제 :  {10735, 10444, 15548, 10724}

In [23]:
a = pd.concat([problem[problem['problem_id'] == 10444], problem[problem['problem_id'] == 10724]])
b = pd.concat([problem[problem['problem_id'] == 10735], problem[problem['problem_id'] == 15548]])
pd.concat([a, b])

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
8672,10444,[],2.3333,3,True,0,['15548번. Anagram Pyramids (Hard)'],\n,\n,10444번: Anagram Pyramids,\nThere may be multiple cases to consider. Pro...,\nThe answers for each case should consist of ...,"\nBack in the 20th century, anagram puzzles we...",False,"['2 초 ', '256 MB', '21', '8', '3', '42.857%']",[]
8940,10724,"[{'key': 'divide_and_conquer', 'isMeta': False...",7.3182,44,True,26,['10723번. 판게아 1'],\n,\n,10724번: 판게아 2,\n첫 줄에는 테스트 케이스의 수 T\(T\)가 정수로 주어진다. 이어서 매 테스트...,\n각 테스트 케이스마다 단 하나의 줄을 출력한다. 이 줄에는 매번 새 도로를 놓았...,\n태초에 세계는 n\(n\)개의 도시와 이들 사이를 잇는 n−1\(n - 1\)개...,False,"['20 초 ', '256 MB', '412', '87', '43', '13.396%']","[divide_and_conquer, graphs, link_cut_tree, ms..."
8951,10735,"[{'key': 'combinatorics', 'isMeta': False, 'bo...",1.5000,6,True,26,"['10733번. I\\(I\\)교신자 1', '10734번. I\\(I\\)교신자...",\n,\n,10735번: \(I\)교신자 3,"\n첫 줄에 I(1≤I≤109)\(I (1 \leq I \leq 10^9)\), A...",\n i\(i\)번째 줄에 모든 카드 배열에 대해 작업을 끝낸 후의 모든 스택에 대...,\n방학 동안 어떤 일을 겪었는지 몰라도 현종이는 수 I\(I\)를 신성시하는 I\...,False,"['3 초 ', '256 MB', '17', '9', '6', '66.667%']","[combinatorics, dp, math]"
13659,15548,[],1.5000,2,True,0,['10444번. Anagram Pyramids'],\n,\n,15548번: Anagram Pyramids (Hard),\nThere may be multiple cases to consider. Pro...,\nThe answers for each case should consist of ...,"\nBack in the 20th century, anagram puzzles we...",False,"['10 초 ', '512 MB', '8', '6', '2', '66.667%']",[]

In [24]:
problem.describe()

         problem_id  average_tries  accepted_user_count         level
count  23090.000000   23090.000000         23090.000000  23090.000000
mean   13223.324816       2.446576           584.329147      9.065743
std     6982.904791      48.409894          4763.431714      8.450138
min     1000.000000       0.000000             0.000000      0.000000
25%     7342.250000       1.000000             2.000000      0.000000
50%    13394.500000       1.707050            11.000000      8.000000
75%    19249.750000       2.656375            59.000000     16.000000
max    25150.000000    7340.140000        200366.000000     30.000000

# clean_problem.csv
- 기본적 탐색
    - 6866개의 문제(problem은 23090개의 문제)

- 태그(problem_tags)
    - 태그 존재 :  6722 / 태그 미존재 :  144
    - 최소 1개의 태그, 최대 19개의 태그 (3사분위 3개)
    - 태그 개수 : 176개
    - 가장 많이 등장한 태그 및 카운트 :    
    [('math', 1832), ('implementation', 1556), ('dp', 1261), ('graphs', 1072), ('data_structures', 997), ('string', 626), ('graph_traversal', 608), ('bruteforcing', 598), ('greedy', 577), ('sorting', 495)]
    - 가장 적게 등장한 태그 및 카운트 :    
    [('general_matching', 2), ('bipartite_graph', 2), ('dominator_tree', 1), ('voronoi', 1), ('directed_mst', 1), ('tree_compression', 1), ('discrete_sqrt', 1), ('bayes', 1), ('pick', 1), ('generating_function', 1)]

- 평균 시도 횟수(average_tries)
    - 1번 ~ 65.8번까지 존재, 평균 2.88번 (3사분위 3.36)

In [25]:
clean_problem.head()

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
0,1000,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",2.3696,177961,True,1,"['1001번. A-B', '1008번. A/B', '2558번. A+B - 2',...",\n,\n여기를 누르면 1000번 예제 소스를 볼 수 있습니다.\n,1000번: A+B,"\n첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)\n",\n첫째 줄에 A+B를 출력한다.\n,"\n두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.\n",False,"['2 초 ', '128 MB', '593356', '247193', '176987...","[arithmetic, implementation, math]"
1,1001,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",1.3975,149192,True,1,"['1000번. A+B', '1008번. A/B', '2558번. A+B - 2',...",\n,\n,1001번: A-B,"\n첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)\n",\n첫째 줄에 A-B를 출력한다.\n,"\n두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.\n",False,"['2 초 ', '128 MB', '247010', '172725', '148343...","[arithmetic, implementation, math]"
2,1002,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",4.5895,26224,True,7,[],\n,\n,1002번: 터렛,\n첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 다음과 같이...,\n각 테스트 케이스마다 류재명이 있을 수 있는 위치의 수를 출력한다. 만약 류재명...,\n조규현과 백승환은 터렛에 근무하는 직원이다. 하지만 워낙 존재감이 없어서 인구수...,False,"['2 초 ', '128 MB', '155147', '32698', '26037',...","[geometry, math]"
3,1003,"[{'key': 'dp', 'isMeta': False, 'bojTagId': 25...",3.1842,35245,True,8,[],\n,\n,1003번: 피보나치 함수,\n첫째 줄에 테스트 케이스의 개수 T가 주어진다.\n각 테스트 케이스는 한 줄로 ...,\n각 테스트 케이스마다 0이 출력되는 횟수와 1이 출력되는 횟수를 공백으로 구분해...,\n다음 소스는 N번째 피보나치 수를 구하는 C++ 함수이다.\nint fibona...,False,"['0.25 초 (추가 시간 없음) ', '128 MB', '157077', '44...",[dp]
4,1004,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",2.3461,8570,True,8,[],"\n\n-1000 ≤ x1, y1, x2, y2, cx, cy ≤ 1000\n1 ≤...",\n,1004번: 어린 왕자,\n입력의 첫 줄에는 테스트 케이스의 개수 T가 주어진다. 그 다음 줄부터 각각의 ...,\n각 테스트 케이스에 대해 어린 왕자가 거쳐야 할 최소의 행성계 진입/이탈 횟수를...,\n어린 왕자는 소혹성 B-664에서 자신이 사랑하는 한 송이 장미를 위해 살아간다...,False,"['2 초 ', '128 MB', '25107', '10345', '8522', '...",[geometry]

In [26]:
clean_problem.describe()

         problem_id  average_tries  accepted_user_count        level
count   6866.000000    6866.000000          6866.000000  6866.000000
mean   11351.743227       2.888088          1903.390184    13.063793
std     7482.656200       2.126536          8588.658485     5.828604
min     1000.000000       1.000000             1.000000     1.000000
25%     3013.250000       1.865375            40.000000     9.000000
50%    11901.500000       2.474400           138.000000    13.000000
75%    17180.750000       3.360975           611.000000    18.000000
max    25083.000000      65.833300        200366.000000    25.000000

In [27]:
print("problem file's problem_id count: ", problem['problem_id'].nunique())
print("clean problem file's problem_id count: ", clean_problem['problem_id'].nunique())

problem file's problem_id count:  23090
clean problem file's problem_id count:  6866

In [28]:
clean_problem[clean_problem['problem_id'].isin(more10_tags_list)]

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
2485,17376,"[{'key': 'combinatorics', 'isMeta': False, 'bo...",2.0909,11,True,24,[],\n,\n,17376번: 룰렛,"\n첫 줄에 놀이기구의 수 N과 쿼리의 수 Q가 주어진다. (2 ≤ N ≤ 100,...","\ni번째 답이 Bi일 때, Bi=$B_{i}=$PiQi$\frac{P_{i}}{Q...","\n종영이가 오랜 기간 동안 준비한 ""옥토끼나라 놀이공원""이 곧 개장을 앞두고 있다...",False,"['4 초 (추가 시간 없음) ', '1024 MB', '31', '16', '11...","[combinatorics, data_structures, dfs, dp, dp_t..."
4769,18831,"[{'key': 'backtracking', 'isMeta': False, 'boj...",12.2500,4,True,25,[],\n,\n,18831번: 문제를 푸는 문제,\n각 문제의 입력이 차례대로 주어진다.\n,\n각 문제의 정답을 차례대로 출력한다.\n,\n이 문제는 다섯 개의 서로 다른 문제로 이루어져 있다. 각 문제의 입력이 차례대...,True,"['3 초 (추가 시간 없음) ', '512 MB', '198', '5', '4',...","[backtracking, bfs, bitmask, combinatorics, da..."
5406,22860,"[{'key': 'data_structures', 'isMeta': False, '...",2.5882,68,True,13,[],"\n\n 1≤N≤1,000$1 \le N \le 1,000$ \n 1≤M≤1,000...",\n,22860번: 폴더 정리 (small),\n첫 번째 줄에는 main 폴더 하위에 있는 폴더의 총 개수 N$N$과 파일의 총...,\n쿼리 순서대로 한 줄씩 폴더 하위에 있는 파일의 종류의 개수와 파일의 총 개수를...,\n이름이 main 폴더 안에 여러가지 파일과 폴더가 존재한다.\nmain\n ├─...,False,"['1 초 ', '1024 MB', '234', '96', '68', '38.636%']","[data_structures, dfs, graphs, graph_traversal..."
5407,22861,"[{'key': 'data_structures', 'isMeta': False, '...",4.2963,27,True,14,[],"\n\n 1≤N≤1,000$1 \le N \le 1,000$ \n 1≤M≤1,000...",\n,22861번: 폴더 정리 (large),\n첫 번째 줄에는 main 폴더 안에 있는 폴더의 총 개수 N$N$과 파일의 총 ...,\n쿼리 순서대로 한 줄씩 폴더 하위에 있는 파일의 종류의 개수와 파일의 총 개수를...,\n이름이 main 폴더 안에 여러가지 파일과 폴더가 존재한다.\nmain\n ├─...,False,"['1.5 초 ', '1024 MB', '192', '67', '27', '23.2...","[data_structures, dfs, graphs, graph_traversal..."
5419,22874,"[{'key': 'ad_hoc', 'isMeta': False, 'bojTagId'...",3.0000,12,True,25,[],\n,\n\n그림 B.1: 예제 1에 대해 정답으로 가능한 도로 배치 중 하나\n Dis...,22874번: Distance on Triangulation 2,\n첫째 줄에 N$N$(2≤N≤200 000$2 \leq N \leq 200\ 00...,"\n첫째 줄에 ∑i=1NDist(xi,yi)$\sum_{i=1}^{N} {Dist(...",\n뜨룹랜드는 정점이 2N$2N$개인 볼록다각형 모양의 왕국이다.\n볼록다각형의 각...,False,"['3 초 (추가 시간 없음) ', '1024 MB (추가 메모리 없음)', '42...","[ad_hoc, constructive, data_structures, disjoi..."
5963,24897,"[{'key': 'data_structures', 'isMeta': False, '...",2.0000,5,True,22,[],\n,\n,24897번: 숲 게임,\n첫째 줄에 나무의 개수 N$N$과 매 턴마다 움직일 수 있는 최대 횟수 K$K$...,"\nB가 이길 수 있는 공집합이 아닌 나무집합의 개수를 998244353$998\,...",\nBOJ 월드의 깊은 산 속 숭고한 협곡에는 N$N$개의 나무로 구성된 숲이 있다...,False,"['2 초 (추가 시간 없음) ', '1024 MB (추가 메모리 없음)', '10...","[data_structures, dfs, dp, game_theory, gaussi..."
5972,24917,"[{'key': 'binary_search', 'isMeta': False, 'bo...",2.3333,3,True,23,[],"\n\n2 ≤ N ≤ 100,000\n1 ≤ M ≤ N\n1 ≤ ui < vi ≤ ...",\n,24917번: 지역 순회,"\n첫째 줄에 두 정수 N, M가 공백으로 구분되어 주어진다. 둘째 줄부터 N - ...",\n유일한 줄에 문제의 답을 공백으로 구분하여 두 실수로 출력한다. 정답과의 절대 ...,\n경기과학고등학교 출신 정치인들은 서로의 성공을 도모하기 위해 함께 모여 정당 경...,True,"['4 초 ', '512 MB', '13', '5', '3', '42.857%']","[binary_search, data_structures, deque, dfs, d..."

#### 태그

In [29]:
print("clean problem - 태그 존재 : ", len(clean_problem[clean_problem['problem_tags'] != '[]']))
print("clean problem - 태그 미존재 : ", len(clean_problem[clean_problem['problem_tags'] == '[]']))

clean problem - 태그 존재 :  6722
clean problem - 태그 미존재 :  144

In [30]:
is_tags = clean_problem['preprocessing_tags'].apply(lambda x: x != [])
is_tags_clean_list = clean_problem[is_tags]['problem_id']

In [ ]:
# print(len(set(clean_score_target)))
# print(len(set(is_tags_clean_list)))
# len(set(clean_score_target) - set(is_tags_clean_list))

In [32]:
one_tags = set([''.join(tag) for tag in clean_problem['preprocessing_tags'] if len(tag) == 1])

for tag in one_tags:
    print(tag, ":", Counter(tags)[tag])

backtracking : 304
bitset : 41
string : 1575
ternary_search : 40
coordinate_compression : 114
cht : 64
bitmask : 403
case_work : 414
dp : 2461
geometry : 856
recursion : 147
sweeping : 283
trees : 850
divide_and_conquer : 285
flow : 209
binary_search : 769
lis : 55
constructive : 483
sliding_window : 59
sqrt_decomposition : 63
arbitrary_precision : 172
implementation : 3490
hashing : 112
bruteforcing : 1344
bipartite_matching : 128
heuristics : 36
mitm : 66
prefix_sum : 492
sorting : 1060
inclusion_and_exclusion : 96
ad_hoc : 519
permutation_cycle_decomposition : 42
hungarian : 10
graphs : 2304
game_theory : 178
math : 3910
data_structures : 2252
greedy : 1371
two_pointer : 227

In [33]:
### clean_problem.csv
tags_clean_problem = clean_problem[clean_problem['problem_tags'] != '[]']
tags_clean_problem['tags_count'] = tags_clean_problem['problem_tags'].apply(lambda x: len(x.split('}]},')))
tags_clean_problem['tags_count'].describe()

count    6722.000000
mean        2.707825
std         1.468925
min         1.000000
25%         2.000000
50%         2.000000
75%         3.000000
max        19.000000
Name: tags_count, dtype: float64

In [34]:
### clean_problem.csv
clean_tags = list(chain(*clean_problem['preprocessing_tags'].to_list()))
clean_tags_count = Counter(tags).most_common()
print("태그 개수 : ", len(set(clean_tags)))
print("가장 많이 등장한 태그 및 카운트 : \n", clean_tags_count[:10])
print("가장 적게 등장한 태그 및 카운트 : \n", clean_tags_count[-10:])

태그 개수 :  176
가장 많이 등장한 태그 및 카운트 :
 [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
가장 적게 등장한 태그 및 카운트 :
 [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

#### level별 비교

In [35]:
problem_level = problem.groupby('level')[['problem_id']].agg('count').rename(columns={'problem_id':'problem'})
problem_level

       problem
level
0         8010
1           72
2          124
3          462
4          809
5          553
6          538
7          566
8          592
9          591
10         666
11         663
12         790
13         815
14         738
15         670
16         753
17         720
18         784
19         744
20         677
21         667
22         617
23         429
24         334
25         286
26         211
27         112
28          61
29          22
30          14

In [36]:
clean_problem_level = clean_problem.groupby('level')[['problem_id']].agg('count').rename(columns={'problem_id':'clean_problem'})
clean_problem_level

       clean_problem
level
1                 55
2                 57
3                248
4                335
5                212
6                232
7                255
8                282
9                285
10               336
11               387
12               445
13               436
14               417
15               368
16               408
17               362
18               365
19               333
20               277
21               246
22               219
23               121
24               109
25                76

In [37]:
# problem - clean_problem 비교
compare_level = pd.concat([problem_level, clean_problem_level], 1)
compare_level['diff'] = compare_level['problem'] - compare_level['clean_problem']
compare_level['diff_per'] = round(((compare_level['problem'] - compare_level['clean_problem']) / compare_level['problem']), 2)
compare_level

       problem  clean_problem   diff  diff_per
level
0         8010            NaN    NaN       NaN
1           72           55.0   17.0      0.24
2          124           57.0   67.0      0.54
3          462          248.0  214.0      0.46
4          809          335.0  474.0      0.59
5          553          212.0  341.0      0.62
6          538          232.0  306.0      0.57
7          566          255.0  311.0      0.55
8          592          282.0  310.0      0.52
9          591          285.0  306.0      0.52
10         666          336.0  330.0      0.50
11         663          387.0  276.0      0.42
12         790          445.0  345.0      0.44
13         815          436.0  379.0      0.47
14         738          417.0  321.0      0.43
15         670          368.0  302.0      0.45
16         753          408.0  345.0      0.46
17         720          362.0  358.0      0.50
18         784          365.0  419.0      0.53
19         744          333.0  411.0      0.55
20         677          277.0  400.0      0.59
21         667          246.0  421.0      0.63
22         617          219.0  398.0      0.65
23         429          121.0  308.0      0.72
24         334          109.0  225.0      0.67
25         286           76.0  210.0      0.73
26         211            NaN    NaN       NaN
27         112            NaN    NaN       NaN
28          61            NaN    NaN       NaN
29          22            NaN    NaN       NaN
30          14            NaN    NaN       NaN

# score.csv

In [38]:
score.head()

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000.0,맞았습니다!!,2020.0,0.0,C++17,121.0,1652236901,1000
1,43129130,mado0421,2557.0,맞았습니다!!,2020.0,0.0,C++17,81.0,1652236186,1000
2,43129122,mado0421,2557.0,맞았습니다!!,2020.0,0.0,C++17,81.0,1652236172,1000
3,16789475,mado0421,10809.0,맞았습니다!!,1980.0,0.0,C++14,376.0,1578246921,1000
4,16789282,mado0421,11720.0,맞았습니다!!,1980.0,0.0,C++14,259.0,1578245686,1000

In [39]:
score.columns

Index(['score_id', 'user_name', 'problem_id', 'answer', 'memory', 'time',
       'language', 'length', 'date', 'target'],
      dtype='object')

In [40]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4742223 entries, 0 to 4742222
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   score_id    int64
 1   user_name   object
 2   problem_id  float64
 3   answer      object
 4   memory      float64
 5   time        float64
 6   language    object
 7   length      float64
 8   date        int64
 9   target      int64
dtypes: float64(4), int64(3), object(3)
memory usage: 361.8+ MB

In [41]:
score['user_name'].nunique()

19918

### user_name별 탐색

In [42]:
score_user_count = score.groupby('user_name')['score_id'].agg('count')
score_user_count.describe()

count     19918.000000
mean        238.087308
std        1680.182394
min           1.000000
25%          20.000000
50%          40.000000
75%         100.000000
max      106162.000000
Name: score_id, dtype: float64

In [43]:
score_user_count[score_user_count == 106162]

user_name
xiaowuc1    106162
Name: score_id, dtype: int64

In [44]:
target_unique_score = score.drop_duplicates(subset=['user_name', 'target'])
target_unique_score

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000.0,맞았습니다!!,2020.0,0.0,C++17,121.0,1652236901,1000
20,43154792,midori,1000.0,맞았습니다!!,79508.0,12.0,Swift,154.0,1652265535,1000
40,43154763,littelsue,1000.0,맞았습니다!!,30840.0,68.0,Python 3,54.0,1652265504,1000
41,43165504,jinyoung438967,1000.0,맞았습니다!!,1112.0,0.0,C++17,93.0,1652277299,1000
47,43164785,khs7804kjs,1000.0,맞았습니다!!,1112.0,0.0,C++17,112.0,1652276559,1000
...,...,...,...,...,...,...,...,...,...,...
4742123,36930072,mym0404,6020.0,맞았습니다!!,2180.0,0.0,C++17,3288.0,1641059215,6020
4742143,24279538,azaz123,6020.0,맞았습니다!!,14904.0,160.0,Java 11,2267.0,1607468683,6020
4742163,16079482,snrnsidy,6020.0,맞았습니다!!,1992.0,0.0,C++14,1453.0,1573552211,6020
4742183,10530197,qwebnm7788,6020.0,맞았습니다!!,5900.0,4.0,C++14,971.0,1539843638,6020
4742203,8057062,cheetose,6020.0,맞았습니다!!,2772.0,0.0,C++11,2283.0,1521548475,6020

In [45]:
score[score['user_name'] == 'xiaowuc1'].drop_duplicates(subset='target').groupby('language')['score_id'].agg('count')

language
C++11              15
C++14             704
C++17            2654
C++17 (Clang)       1
C++20               1
C++98               1
Java 11             3
Java 8            916
Kotlin (JVM)       18
PyPy2              10
PyPy3             443
Python 2            1
Python 3            5
Text               52
Name: score_id, dtype: int64

In [46]:
score[score['user_name'] == 'xiaowuc1'].groupby('language')['score_id', 'target'].agg('count')

               score_id  target
language
C# 6.0 (Mono)         2       2
C++11               305     305
C++14             17285   17285
C++17             58293   58293
C++17 (Clang)         7       7
C++20                33      33
C++98                12      12
C11                  33      33
Java 11              47      47
Java 8            16397   16397
Kotlin (JVM)        523     523
PyPy2               646     646
PyPy3             11224   11224
Python 2             27      27
Python 3            188     188
Text               1140    1140

### problem_id별 확인

In [47]:
score_problem_count = score.groupby('problem_id')['score_id'].agg('count')
score_problem_count.describe()

count    19803.000000
mean       239.469929
std        361.232613
min          1.000000
25%         42.000000
50%        131.000000
75%        284.000000
max      10367.000000
Name: score_id, dtype: float64

# clean_score
clean_problem에 해당하는 target만 가져와 탐색

[유저]
- clean target을 푼 유저 수 :  16407

[단계 문제와 타겟 문제 비교]
- clean target을 풀기 위해 푼 단계 문제 수 :  17369
- 단계 문제 - 타겟 문제 :  10503
- 타겟 문제 - 단계 문제 :  0   
-> 즉, 타겟 문제는 모두 타겟을 위한 단계 문제로도 활용 됨

In [48]:
clean_problem_ids = clean_problem['problem_id']
clean_score = score[score['target'].isin(clean_problem_ids)]
clean_score['problem_id'] = clean_score['problem_id'].apply(lambda x: int(x))
clean_score

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000,맞았습니다!!,2020.0,0.0,C++17,121.0,1652236901,1000
1,43129130,mado0421,2557,맞았습니다!!,2020.0,0.0,C++17,81.0,1652236186,1000
2,43129122,mado0421,2557,맞았습니다!!,2020.0,0.0,C++17,81.0,1652236172,1000
3,16789475,mado0421,10809,맞았습니다!!,1980.0,0.0,C++14,376.0,1578246921,1000
4,16789282,mado0421,11720,맞았습니다!!,1980.0,0.0,C++14,259.0,1578245686,1000
...,...,...,...,...,...,...,...,...,...,...
4736465,22213298,bone,2251,맞았습니다!!,31864.0,80.0,Python 3,675.0,1598943542,6000
4736466,22212385,bone,2251,맞았습니다!!,9920.0,0.0,C++14,996.0,1598941697,6000
4736467,22211265,bone,2493,맞았습니다!!,89468.0,664.0,Python 3,203.0,1598939430,6000
4736468,22211076,bone,2493,맞았습니다!!,7064.0,164.0,C++14,326.0,1598939048,6000
4736469,22207910,bone,2599,맞았습니다!!,1984.0,0.0,C++14,1082.0,1598931666,6000

In [49]:
print("clean target을 맞은 유저 수 : ", clean_score['user_name'].nunique())
print("clean target을 풀기 위해 푼 단계 문제 수 : ", clean_score['problem_id'].nunique())
print("단계 문제 - 타겟 문제 : ", len(set(clean_score['problem_id']) - set(clean_score['target'])))
print("타겟 문제 - 단계 문제 : ", len(set(clean_score['target'])- set(clean_score['problem_id'])))

clean target을 맞은 유저 수 :  16407
clean target을 풀기 위해 푼 단계 문제 수 :  17369
단계 문제 - 타겟 문제 :  10503
타겟 문제 - 단계 문제 :  0

## all-clean score (target, problem_id)
 - 1,984,978개의 rows

In [50]:
all_clean_score = clean_score[clean_score['problem_id'].isin(clean_problem_ids)]
all_clean_score

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000,맞았습니다!!,2020.0,0.0,C++17,121.0,1652236901,1000
1,43129130,mado0421,2557,맞았습니다!!,2020.0,0.0,C++17,81.0,1652236186,1000
2,43129122,mado0421,2557,맞았습니다!!,2020.0,0.0,C++17,81.0,1652236172,1000
3,16789475,mado0421,10809,맞았습니다!!,1980.0,0.0,C++14,376.0,1578246921,1000
4,16789282,mado0421,11720,맞았습니다!!,1980.0,0.0,C++14,259.0,1578245686,1000
...,...,...,...,...,...,...,...,...,...,...
4736465,22213298,bone,2251,맞았습니다!!,31864.0,80.0,Python 3,675.0,1598943542,6000
4736466,22212385,bone,2251,맞았습니다!!,9920.0,0.0,C++14,996.0,1598941697,6000
4736467,22211265,bone,2493,맞았습니다!!,89468.0,664.0,Python 3,203.0,1598939430,6000
4736468,22211076,bone,2493,맞았습니다!!,7064.0,164.0,C++14,326.0,1598939048,6000
4736469,22207910,bone,2599,맞았습니다!!,1984.0,0.0,C++14,1082.0,1598931666,6000

### 언어별 탐색

In [51]:
all_clean_score_language = all_clean_score.groupby('language')['target'].agg('count').sort_values(ascending=False)
all_clean_score_language[:20]

language
C++17           861176
Python 3        349658
PyPy3           164320
Java 11         132715
C++14           130544
C++20            71556
Java 8           70238
C99              43906
C++11            41543
C++98            16894
node.js          14625
Kotlin (JVM)     12308
Text              9795
C11               9227
Swift             8652
Rust 2018         7613
C#                7365
Rust 2021         5545
Go                4150
Java 15           3802
Name: target, dtype: int64

In [52]:
all_clean_score_language.describe()

count        82.000000
mean      24207.048780
std      104958.160029
min           1.000000
25%          11.500000
50%         168.000000
75%        3393.250000
max      861176.000000
Name: target, dtype: float64

In [53]:
all_clean_score_language[-10:]

language
R                5
Haxe             5
F# (Mono)        3
C# 3.0 (Mono)    2
Algol 68         2
Haskell          2
Tcl              1
SpiderMonkey     1
Rhino            1
Cobol            1
Name: target, dtype: int64

### 유저별 탐색

In [54]:
all_clean_score_user = all_clean_score.groupby('user_name')['target'].agg('count').sort_values(ascending=False)
print(len(all_clean_score_user))
all_clean_score_user[:10]

16405

user_name
jhnah917         8924
asz2325          8024
xiaowuc1         7508
mym0404          7149
thenitromefan    6489
pjshwa           6075
serendip2021     5724
dyim0403         5675
jinhan814        5619
cozyyg           5602
Name: target, dtype: int64

In [55]:
all_clean_score_user.describe()

count    16405.000000
mean       120.998354
std        337.179444
min          1.000000
25%         20.000000
50%         40.000000
75%         99.000000
max       8924.000000
Name: target, dtype: float64

### 티어별 탐색

In [101]:
tier_dict = {'0':'unrated', '1':'Bronze 5', '2':'Bronze 4', '3':'Bronze 3', '4':'Bronze 2', '5':'Bronze 1',
             '6':'Silver 5', '7':'Silver 4', '8':'Silver 3', '9':'Silver 2', '10':'Silver 1',
             '11':'Gold 5', '12':'Gold 4', '13':'Gold 3', '14':'Gold 2', '15':'Gold 1',
             '16':'Platinum 5', '17':'Platinum 4', '18':'Platinum 3', '19':'Platinum 2', '20':'Platinum 1',
             '21':'Diamond 5', '22':'Diamond 4', '23':'Diamond 3', '24':'Diamond 2', '25':'Diamond 1',
             '26':'Ruby 5', '27':'Ruby 4', '28':'Ruby 3', '29':'Ruby 2', '30':'Ruby 1'}

In [103]:
user[user['user_name'].isin(set(all_clean_score['user_name']))]['tier'].value_counts().sort_index()

0       81
1      159
2      147
3      150
4      156
5      304
6      678
7      653
8      612
9      893
10     870
11     948
12     998
13    1093
14    1023
15    1330
16     877
17     552
18     300
19     208
20     176
21     189
22     110
23      90
24      67
25      56
26      46
27      15
28       8
29       6
30       4
31      16
Name: tier, dtype: int64

In [104]:
clean_score_target = list(clean_score['target'])

In [105]:
clean_score.groupby('target')['score_id'].agg('count').describe()

count    6866.000000
mean      327.681328
std       139.372351
min         3.000000
25%       260.000000
50%       320.000000
75%       364.000000
max       800.000000
Name: score_id, dtype: float64

## non-clean(제외된 문제) 탐색

In [106]:
non_clean_score = score[score['target'].isin(clean_problem_ids) == False]
non_clean_score['problem_id'] = non_clean_score['problem_id'].apply(lambda x: int(x))
print("non clean target을 맞은 유저 수 : ", non_clean_score['user_name'].nunique())

non clean target을 맞은 유저 수 :  7981

In [107]:
print(len(set(all_clean_score['user_name']) - set(non_clean_user)))
print(len(set(clean_score['user_name']) - set(non_clean_user)))

16405
16407

#### (all_clean - clean) user 탐색
- all_clean - clean : clean target문제를 위한 단계문제로 non clean 문제만 푼 유저
    - 1pennyplz : 2회 제출(1문제) -> 영어 문제
    - dad0401 : 1회 제출(1문제) -> unranked 문제

In [108]:
non_clean_user = set(score['user_name']) - set(clean_score['user_name'])
non_all_clean_user = set(score['user_name']) - set(all_clean_score['user_name'])

print(len(non_clean_user), len(non_all_clean_user))
print(set(non_all_clean_user) - set(non_clean_user))

3511 3513
{'1pennyplz', 'dad0401'}

In [109]:
score[score['user_name'].isin(['1pennyplz', 'dad0401'])]

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
1280488,15381647,1pennyplz,10527.0,맞았습니다!!,23824.0,500.0,C++14,705.0,1569652828,17494
3235745,15381647,1pennyplz,10527.0,맞았습니다!!,23824.0,500.0,C++14,705.0,1569652828,17494
3771662,34873398,dad0401,10930.0,맞았습니다!!,148428.0,324.0,PyPy3,105.0,1635495254,20929

In [110]:
problem[problem['problem_id'].isin([10527, 10930])]

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
8755,10527,"[{'key': 'data_structures', 'isMeta': False, '...",1.9298,171,True,6,[],\n,\n,10527번: Judging Troubles,\nThe input consists of:\n\none line with one ...,\nOutput one line with the maximum number of j...,\nThe NWERC organisers have decided that they ...,False,"['1 초 ', '256 MB', '443', '213', '171', '51.81...","[data_structures, hash_set, implementation, so..."
9143,10930,"[{'key': 'implementation', 'isMeta': False, 'b...",1.2847,1454,True,0,[],\n,\n,10930번: SHA-256,"\n첫째 줄에 문자열 S가 주어진다. S는 알파벳 대문자와 소문자, 그리고 숫자로만...",\n첫째 줄에 S의 SHA-256 해시값을 출력한다.\n,"\n문자열 S가 주어졌을 때, SHA-256 해시값을 구하는 프로그램을 작성하시오.\n",False,"['1 초 ', '256 MB', '2198', '1643', '1454', '77...","[implementation, string]"

In [111]:
len(set(all_clean_score['user_name']))

16405

In [113]:
non_clean_user = list(set(score['user_name']) - set(clean_score['user_name']))  # 2명은 탐색했으니 그냥 clean_score과 비교
score[score['user_name'].isin(non_clean_user)]

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
55855,17102591,sedm3626,1192.0,맞았습니다!!,127180.0,2412.0,PyPy3,700.0,1579491557,1192
58690,8196763,isku,1203.0,맞았습니다!!,16784.0,140.0,Java 8,1579.0,1522422566,1203
58691,8165538,isku,9020.0,맞았습니다!!,32780.0,552.0,Java 8,710.0,1522246705,1203
58692,8152719,isku,15595.0,맞았습니다!!,53256.0,468.0,Java 8,1170.0,1522169262,1203
58693,8119581,isku,14905.0,맞았습니다!!,112364.0,1256.0,Java 8,840.0,1521986376,1203
...,...,...,...,...,...,...,...,...,...,...
4742158,23862712,azaz123,6041.0,맞았습니다!!,17860.0,160.0,Java 11,2235.0,1605417779,6020
4742159,23862272,azaz123,6040.0,맞았습니다!!,19100.0,268.0,Java 11,2179.0,1605416266,6020
4742160,23861752,azaz123,6039.0,맞았습니다!!,56048.0,316.0,Java 11,2261.0,1605413840,6020
4742161,23860077,azaz123,6184.0,맞았습니다!!,20944.0,288.0,Java 11,1784.0,1605405327,6020
4742162,23859664,azaz123,6183.0,맞았습니다!!,52324.0,912.0,Java 11,1924.0,1605402688,6020

(all_clean - clean) tier 비교

In [149]:
all_clean_user_tier = user[user['user_name'].isin(set(all_clean_score['user_name']))][['tier']].value_counts().sort_index()
non_clean_user_tier = user[user['user_name'].isin(non_clean_user)][['tier']].value_counts().sort_index()

compare_user_tier = pd.concat([all_clean_user_tier, non_clean_user_tier], 1)
compare_user_tier.rename(columns={0:'all_clean', 1:'non_clean'}, inplace=True)
compare_user_tier['all_ratio'] = round((compare_user_tier['all_clean'] / (compare_user_tier['non_clean']+compare_user_tier['all_clean'])), 2)
compare_user_tier

      all_clean  non_clean  all_ratio
tier
0            81       28.0       0.74
1           159       27.0       0.85
2           147       24.0       0.86
3           150       18.0       0.89
4           156       20.0       0.89
5           304       42.0       0.88
6           678      108.0       0.86
7           653       89.0       0.88
8           612       80.0       0.88
9           893      113.0       0.89
10          870      132.0       0.87
11          948      137.0       0.87
12          998      110.0       0.90
13         1093      147.0       0.88
14         1023      126.0       0.89
15         1330      175.0       0.88
16          877      120.0       0.88
17          552       60.0       0.90
18          300       36.0       0.89
19          208       19.0       0.92
20          176        4.0       0.98
21          189        4.0       0.98
22          110        NaN        NaN
23           90        NaN        NaN
24           67        NaN        NaN
25           56        NaN        NaN
26           46        NaN        NaN
27           15        NaN        NaN
28            8        NaN        NaN
29            6        NaN        NaN
30            4        NaN        NaN
31           16        NaN        NaN

# user.csv

In [114]:
user.columns

Index(['user_name', 'bio', 'organizations', 'badge', 'background',
       'profileImageUrl', 'solvedCount', 'voteCount', 'class',
       'classDecoration', 'tier', 'rating', 'ratingByProblemsSum',
       'ratingByClass', 'ratingBySolvedCount', 'ratingByVoteCount', 'exp',
       'rivalCount', 'reverseRivalCount', 'maxStreak', 'proUntil', 'rank',
       'problems', 'problems_count'],
      dtype='object')

In [115]:
user[user['user_name'].isin(list(clean_score['user_name']))]

,user_name,bio,organizations,badge,background,profileImageUrl,solvedCount,voteCount,class,classDecoration,...,ratingBySolvedCount,ratingByVoteCount,exp,rivalCount,reverseRivalCount,maxStreak,proUntil,rank,problems,problems_count
0,koosaga,응애 응애 HLD~ 응애 응애 링크컷~ 응애 응애 탑트리~,"[{'organizationId': 394, 'name': 'KAIST', 'typ...","{'badgeId': 'orangecup', 'badgeImageUrl': 'htt...","{'backgroundId': 's2020-ruby1', 'backgroundIma...",https://static.solved.ac/uploads/profile/koosa...,11193,3024,10,gold,...,175,25,14387363136,5,98,24,2022-06-01T00:00:00.000Z,1,"['1000', '1001', '1002', '1003', '1004', '1005...",11226
1,cki86201,NaN,"[{'organizationId': 299, 'name': '서울대학교', 'typ...",NaN,"{'backgroundId': 'abstract_001_light', 'backgr...",NaN,6062,261,10,gold,...,175,25,10294666221,0,25,3,NaN,2,"['1000', '1001', '1002', '1003', '1004', '1005...",6096
2,mitnegativeinfinity,NaN,"[{'organizationId': 440, 'name': 'MIT', 'type'...","{'badgeId': 'beta_contributor', 'badgeImageUrl...","{'backgroundId': 'balloon_001', 'backgroundIma...",NaN,2237,462,10,none,...,175,25,6369127360,0,12,8,NaN,3,"['1000', '1001', '1019', '1056', '1067', '1144...",2239
3,ainta,NaN,"[{'organizationId': 299, 'name': '서울대학교', 'typ...",NaN,"{'backgroundId': 's2020-ruby1', 'backgroundIma...",NaN,4122,132,10,none,...,175,25,7049012681,0,14,2,NaN,4,"['1000', '1001', '1002', '1003', '1004', '1005...",4149
4,yclock,Let yclock Win ICPC WF!,"[{'organizationId': 299, 'name': '서울대학교', 'typ...","{'badgeId': 'beta_contributor', 'badgeImageUrl...","{'backgroundId': 'ucpc2021', 'backgroundImageU...",NaN,2671,586,10,none,...,175,25,4134310302,0,14,6,NaN,5,"['1000', '1001', '1002', '1003', '1004', '1005...",2683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67097,archipelago,NaN,[],NaN,"{'backgroundId': 'balloon_004', 'backgroundIma...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,['6132'],1
67130,berryzed,NaN,[],NaN,"{'backgroundId': 'abstract_001_light', 'backgr...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1000', '1001', '1002', '1008', '1010', '2163...",36
67596,jinwoongma,NaN,[],NaN,"{'backgroundId': 'balloon_005', 'backgroundIma...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1000', '1001', '1012', '1018', '1026', '1062...",190
67864,number,NaN,[],NaN,"{'backgroundId': 'balloon_001', 'backgroundIma...",NaN,26,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1220', '1533', '1616', '1699', '1912', '2239...",25
68036,seokhan94,NaN,[],NaN,"{'backgroundId': 'balloon_004', 'backgroundIma...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1000', '1001', '1005', '1007', '1008', '1010...",514

# course.csv

- 키워드 : '코테', '기업', '코딩 테스트', '기출'
- 키워드를 포함한 코스들을 뽑고, 코스들이 클린 문제들로 이루어졌는지 확인함

    - 키워드가 들어간 코스 개수 :  69
    - clean 문제들로만 이루어진 코스 :  46
    - clean 문제들로만 이루어지지 않은 코스 :  23
    -> 많은 경우 clean 문제들로 이루어졌음. 비율이 낮은 문제집들을 살펴보기 '기출' 키워드에 걸렸고, 알고리즘 대회 기출 문제를 모아둔 문제집임

In [153]:
course_all = pd.read_csv('course_data_list.csv')
course_detail = pd.read_csv('course_detail.csv')

In [160]:
course_detail.head()

,course_id,problem_num,title,correct_count,submmission_count,correct_ratio,detail
0,1152,13460,구슬 탈출 2,10095,63196,26.728%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
1,1152,12100,2048 (Easy),9665,60182,25.519%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
2,1152,3190,뱀,13003,48024,39.111%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
3,1152,13458,시험 감독,14161,67487,27.603%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
4,1152,14499,주사위 굴리기,11132,35791,43.181%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon

In [193]:
course_description = list(set(course_detail['detail']))
# course_description
# course_description = [course for course in course course_description if '코테' in course]

In [198]:
coding_test_detail = []
for keyword in ['코테', '기업', '코딩 테스트', '기출']:
    coding_test_detail = coding_test_detail + [course for course in course_description if keyword in course]
coding_test_detail = list(set(coding_test_detail))
len(coding_test_detail)

69

In [199]:
coding_test_course = course_detail[course_detail['detail'].isin(coding_test_detail)] 
print(coding_test_course['course_id'].nunique())
coding_test_course.head()

69

,course_id,problem_num,title,correct_count,submmission_count,correct_ratio,detail
0,1152,13460,구슬 탈출 2,10095,63196,26.728%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
1,1152,12100,2048 (Easy),9665,60182,25.519%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
2,1152,3190,뱀,13003,48024,39.111%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
3,1152,13458,시험 감독,14161,67487,27.603%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon
4,1152,14499,주사위 굴리기,11132,35791,43.181%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon

In [200]:
coding_test_course['is_clean_problem'] = coding_test_course['problem_num'].apply(lambda x: 1 if x in set(clean_problem['problem_id']) else 0)
coding_test_course.head()
# coding_test_group = coding_test_course.groupby('course_id').agg('count')['title']

,course_id,problem_num,title,correct_count,submmission_count,correct_ratio,detail,is_clean_problem
0,1152,13460,구슬 탈출 2,10095,63196,26.728%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon,1
1,1152,12100,2048 (Easy),9665,60182,25.519%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon,1
2,1152,3190,뱀,13003,48024,39.111%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon,1
3,1152,13458,시험 감독,14161,67487,27.603%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon,1
4,1152,14499,주사위 굴리기,11132,35791,43.181%,삼성 SW 역량 테스트 기출 문제기출 - baekjoon,1

In [201]:
coding_test_group = coding_test_course.groupby('course_id').agg(['count', 'sum'])['is_clean_problem']
coding_test_group['clean_ratio'] = round((coding_test_group['sum'] / coding_test_group['count']), 2)
coding_test_group.sort_values('clean_ratio', inplace=True)
coding_test_group

           count  sum  clean_ratio
course_id
7702         100   12         0.12
1718          10    3         0.30
7703         100   48         0.48
4357          95   52         0.55
2396          66   38         0.58
...          ...  ...          ...
9377          11   11         1.00
9378          10   10         1.00
9379           5    5         1.00
9381          11   11         1.00
11268         12   12         1.00

[69 rows x 3 columns]

In [202]:
print("키워드가 들어간 코스 개수 : ", len(coding_test_group))
print("clean 문제들로만 이루어진 코스 : ", len(coding_test_group[coding_test_group['clean_ratio'] == 1.00]))
print("clean 문제들로만 이루어지지 않은 코스 : ", len(coding_test_group[coding_test_group['clean_ratio'] != 1.00]))

키워드가 들어간 코스 개수 :  69
clean 문제들로만 이루어진 코스 :  46
clean 문제들로만 이루어지지 않은 코스 :  23

In [203]:
coding_test_group[coding_test_group['clean_ratio'] != 1.00]

           count  sum  clean_ratio
course_id
7702         100   12         0.12
1718          10    3         0.30
7703         100   48         0.48
4357          95   52         0.55
2396          66   38         0.58
3072          36   21         0.58
4401           9    7         0.78
9681          35   28         0.80
2954          28   23         0.82
9680          55   46         0.84
9373           7    6         0.86
2163         100   86         0.86
9678          51   45         0.88
5778           9    8         0.89
9392           9    8         0.89
8352          44   41         0.93
6690          57   55         0.96
2147          75   72         0.96
9679          58   57         0.98
7893          56   55         0.98
9677          54   53         0.98
11039        100   99         0.99
2063         100   99         0.99

course 데이터에서 보기

In [207]:
print(course_detail[course_detail['course_id'] == 7702].iloc[0])
course[course['course_id'] == 7702]

course_id                                          7702
problem_num                                       18268
title                                    Cow Gymnastics
correct_count                                       297
submmission_count                                   626
correct_ratio                                   56.357%
detail               USACO 문제집USACO 기출 문제입니다. - soo7652
Name: 37414, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
37414,7702,soo7652,USACO 문제집,-,18268,Cow Gymnastics,297,626,56.357%
37415,7702,soo7652,USACO 문제집,-,18270,Livestock Lineup,139,263,67.150%
37416,7702,soo7652,USACO 문제집,-,18323,Photoshoot,212,753,36.678%
37417,7702,soo7652,USACO 문제집,-,18787,Mad Scientist,232,372,71.385%
37418,7702,soo7652,USACO 문제집,-,18788,Swapity Swap,144,463,38.400%
...,...,...,...,...,...,...,...,...,...
37509,7702,soo7652,USACO 문제집,-,15757,Out of Sorts,49,175,33.562%
37510,7702,soo7652,USACO 문제집,-,15758,Milking Order,85,238,45.699%
37511,7702,soo7652,USACO 문제집,-,15759,Talent Show,47,262,25.000%
37512,7702,soo7652,USACO 문제집,-,16763,Fine Dining,104,307,43.154%
37513,7702,soo7652,USACO 문제집,-,16764,Cowpatibility,112,394,36.129%

In [213]:
print(course_detail[course_detail['course_id'] == 1718].iloc[0])
course[course['course_id'] == 1718]

course_id                                                   1718
problem_num                                                 5506
title                                                    Contact
correct_count                                                  5
submmission_count                                             47
correct_ratio                                            41.667%
detail               USACO Training 기출train.usaco.org - kinssang
Name: 30537, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
30537,1718,kinssang,USACO Training 기출,-,5506,Contact,5,47,41.667%
30538,1718,kinssang,USACO Training 기출,-,6126,Cow Cash,32,67,64.000%
30539,1718,kinssang,USACO Training 기출,-,9881,Ski Course Design,253,706,44.231%
30540,1718,kinssang,USACO Training 기출,-,6605,Humble Numbers,32,115,32.653%
30541,1718,kinssang,USACO Training 기출,-,2234,성곽,2468,7469,45.102%
30542,1718,kinssang,USACO Training 기출,-,7489,팩토리얼,486,1502,41.327%
30543,1718,kinssang,USACO Training 기출,-,5508,Party Lamps,12,12,100.000%
30544,1718,kinssang,USACO Training 기출,-,2241,카멜롯,5,124,8.621%
30545,1718,kinssang,USACO Training 기출,-,2409,파이프 자르기,3,810,2.830%
30546,1718,kinssang,USACO Training 기출,-,5507,Starry Night,9,30,33.333%

In [214]:
print(course_detail[course_detail['course_id'] == 7703].iloc[0])
course[course['course_id'] == 7703]

course_id                                                         7703
problem_num                                                      20036
title                                                   Ball Alignment
correct_count                                                       58
submmission_count                                                  342
correct_ratio                                                  27.103%
detail               ACM ICPC Korea Regional 문제집ACM ICPC Korea Regi...
Name: 37314, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
37314,7703,soo7652,ACM ICPC Korea Regional 문제집,-,20036,Ball Alignment,58,342,27.103%
37315,7703,soo7652,ACM ICPC Korea Regional 문제집,-,20037,Bit String,23,372,8.099%
37316,7703,soo7652,ACM ICPC Korea Regional 문제집,-,20039,Coronavirus Trend,67,198,43.506%
37317,7703,soo7652,ACM ICPC Korea Regional 문제집,-,20040,사이클 게임,2477,5937,52.939%
37318,7703,soo7652,ACM ICPC Korea Regional 문제집,-,20041,Escaping,213,562,49.078%
...,...,...,...,...,...,...,...,...,...
37409,7703,soo7652,ACM ICPC Korea Regional 문제집,-,9012,괄호,39152,119404,44.188%
37410,7703,soo7652,ACM ICPC Korea Regional 문제집,-,9015,정사각형,339,2821,18.109%
37411,7703,soo7652,ACM ICPC Korea Regional 문제집,-,17969,Gene Tree,127,303,61.353%
37412,7703,soo7652,ACM ICPC Korea Regional 문제집,-,17976,Thread Knots,210,889,30.568%
37413,7703,soo7652,ACM ICPC Korea Regional 문제집,-,17977,Triangulation,192,411,58.359%

In [211]:
print(course_detail[course_detail['course_id'] == 4357].iloc[0])
course[course['course_id'] == 4357]

course_id                                                         4357
problem_num                                                      15591
title                                                 MooTube (Silver)
correct_count                                                     1083
submmission_count                                                 3686
correct_ratio                                                  39.758%
detail               ★직접 코테 광탈하면서 모은 문제들☆안 알려진 꿀문제들 위주로 모았습니다:) - d...
Name: 251, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
251,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,15591,MooTube (Silver),1083,3686,39.758%
252,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,10021,Watering the Fields,291,1417,28.670%
253,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,17780,새로운 게임,779,2256,46.067%
254,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,18500,미네랄 2,417,1638,33.765%
255,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,16639,괄호 추가하기 3,249,839,42.784%
...,...,...,...,...,...,...,...,...,...
341,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,17788,Gluttonous Goop,41,126,35.043%
342,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,18606,Block Breaker,8,36,33.333%
343,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,2310,어드벤처 게임,151,776,29.038%
344,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,6178,Lake Making,32,50,74.419%
345,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,6373,Round and Round We Go,43,138,39.091%

In [212]:
course_4357 = course[course['course_id'] == 4357]
course_4357[-course_4357['problem_num'].isin(set(clean_problem['problem_id']))]

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
252,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,10021,Watering the Fields,291,1417,28.670%
258,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,5852,Island Travels,29,151,29.293%
259,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,5827,What's Up With Gravity,79,786,18.945%
261,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,9874,Wormholes,51,171,37.778%
262,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,5901,Relocation,69,175,48.592%
263,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,9881,Ski Course Design,253,706,44.231%
264,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,13614,Ecologia,3,36,20.000%
265,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,13595,Mania de Par,7,41,19.444%
266,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,6063,Rubik's Cube,20,119,18.349%
267,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,10037,Decorating the Pastures,30,72,49.180%
269,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,14529,Where's Bessie?,47,131,41.228%
272,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,13604,Jogo de Estratégia,36,52,81.818%
273,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,13625,Boss,8,19,42.105%
274,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,13627,Dangerous Dive,65,90,85.526%
275,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,9879,Cross Country Skiing,63,131,53.846%
276,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,9877,Ski Course Rating,75,231,51.724%
282,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,17199,Milk Factory,227,488,55.501%
284,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,14324,Rain (Small),35,86,46.667%
285,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,15235,Olympiad Pizza,184,272,82.883%
287,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,13787,Infinity Maze,18,101,25.714%
295,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,12000,Circular Barn (Bronze),284,578,51.825%
296,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,16767,Convention II,154,374,55.596%
298,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,17025,Icy Perimeter,241,560,49.184%
299,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,5558,チーズ (Cheese),505,1272,58.247%
306,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,5830,Bovine Ballet,21,35,60.000%
307,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,11964,Fruit Feast,175,491,40.603%
308,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,11965,Bessie's Dream,107,917,18.706%
309,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,15113,Grid Coloring,27,92,56.250%
310,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,15059,Hard choice,920,1116,87.536%
314,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,11996,Circular Barn (Silver),103,280,51.500%
315,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,12467,Rains Over Atlantis (Small),2,8,28.571%
323,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,11975,Build Gates,94,228,57.669%
324,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,11997,Load Balancing (Silver),230,788,39.316%
325,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,10674,Meeting Time,50,137,51.546%
326,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,10530,Flowery Trails,37,93,64.912%
327,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,3482,Labyrinth,164,742,30.370%
328,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,8061,Bitmap,132,391,44.295%
329,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,10259,Amanda Lounges,38,134,30.894%
330,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,4347,Tic Tac Toe,54,314,24.885%
341,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,17788,Gluttonous Goop,41,126,35.043%
342,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,18606,Block Breaker,8,36,33.333%
344,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,6178,Lake Making,32,50,74.419%
345,4357,danimartinwife,★직접 코테 광탈하면서 모은 문제들☆,-,6373,Round and Round We Go,43,138,39.091%

In [93]:
course.head()

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
0,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,13460,구슬 탈출 2,10095,63196,26.728%
1,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,12100,2048 (Easy),9665,60182,25.519%
2,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,3190,뱀,13003,48024,39.111%
3,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,13458,시험 감독,14161,67487,27.603%
4,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,14499,주사위 굴리기,11132,35791,43.181%

In [101]:
codeplus = course[course['course_name_main'] != '-']
plain_course = course[course['course_name_main'] == '-']

In [130]:
course_group = plain_course.groupby('course_name')[['title']].agg('count').reset_index()
more10_problems_lst = list(course_group[course_group['title'] > 10]['course_name'])

plain_course[plain_course['course_name'].isin(more10_problems_lst)]

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
0,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,13460,구슬 탈출 2,10095,63196,26.728%
1,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,12100,2048 (Easy),9665,60182,25.519%
2,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,3190,뱀,13003,48024,39.111%
3,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,13458,시험 감독,14161,67487,27.603%
4,1152,baekjoon,삼성 SW 역량 테스트 기출 문제,-,14499,주사위 굴리기,11132,35791,43.181%
...,...,...,...,...,...,...,...,...,...
48832,41,myzmd,알고홀릭싫어,-,1019,책 페이지,2641,11736,39.424%
48833,41,myzmd,알고홀릭싫어,-,1068,트리,6524,31630,27.231%
48834,41,myzmd,알고홀릭싫어,-,1157,단어 공부,50975,161280,39.177%
48835,41,myzmd,알고홀릭싫어,-,1992,쿼드트리,13972,28842,61.032%
48836,41,myzmd,알고홀릭싫어,-,2957,이진 탐색 트리,660,6291,23.741%

In [123]:
codeplus_group = codeplus.groupby('course_name')[['title']].agg('count')
codeplus_group.describe()

            title
count  102.000000
mean     8.647059
std      6.347444
min      1.000000
25%      4.000000
50%      8.000000
75%     11.000000
max     39.000000